<nav class="navbar navbar-custom">
    <div class="container-fluid">
        <div class="navbar-header">
            <a routerLink="/" class="navbar-brand" id="brand">ohyesnoyes</a>
        </div>

        <div class="collapse navbar-collapse navbar-left">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active" class="menuItem"><a routerLink="/home">Home</a></li>
                <li routerLinkActive="active"><a routerLink="/portfolio">Portfolio</a></li>
                <li routerLinkActive="active"><a routerLink="/contact">Contact</a></li>
            </ul>
            <!--<ul class="nav navbar-nav navbar-right">
                <li class="dropdown" appDropdown>
                    <a  style="cursor: pointer;" class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a style="cursor: pointer;">Save Data</a></li>
                        <li><a style="cursor: pointer;">Fetch Data</a></li>
                    </ul>
                </li>
            </ul>-->
        </div>
    </div>
</nav>

