<div class="container">
  
  <div class="row">
    <div class="col-xs-12">
      <img src="./assets/fjords.jpg" alt="Fjords">
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="gallery">
        <a target="_blank">
          <img src="./assets/fjords.jpg" alt="Fjords" width="300" height="200">
        </a>
        <div class="desc">Fjords in spring</div>
      </div>

      <div class="gallery">
        <a target="_blank" >
          <img src="./assets/forest.jpg" alt="Forest" width="300" height="200">
        </a>
        <div class="desc">Lost in the forest</div>
      </div>

      <div class="gallery">
        <a target="_blank">
          <img src="./assets/lights.jpg" alt="Northern Lights" width="300" height="200">
        </a>
        <div class="desc">Lights of the north</div>
      </div>

      <div class="gallery">
        <a target="_blank">
          <img src="./assets/mountains.jpg" alt="Mountains" width="300" height="200">
        </a>
        <div class="desc">Beautiful mountain lake</div>
      </div>
    </div>
  </div>

</div>