<div class="row">
  <div class="col-xs-12">
    
    <div class="jumbotron">
      <div class="container">
        <h1>Welcome, humans!</h1>
        <p>This site is a taste of what I can do as a developer and it contains a lot of other gems that represent me. Enjoy!</p>
        <p>
          <a class="btn btn-info btn-lg">Learn more</a>
        </p>
      </div>
    </div>
    
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <img src="./assets/wave1.jpg" class="img-responsive" >
  </div>
</div>